
<div class="row">
    <div class="col-6">
        <h2>Registro de Clientes</h2>
    </div>
    <div class="col-6">
        <h2>Pago</h2>
    </div>
</div>

<main>
    <div class="container">
        <form>
            <label for="fecha">Fecha
                <input type="date" id="fecha" name="fecha" required />
            </label>
            <label for="hora">Hora
                <input type="time" id="hora" name="hora" required />
            </label>
            <label for="nombre">Nombre
                <input type="text" id="nombre" name="nombre" required />
            </label>
            <label for="apellido">Apellido
                <input type="text" id="apellido" name="apellido" required />
            </label>
            <label for="telefono">Teléfono
                <input type="tel" id="telefono" name="telefono" pattern="[0-9]{7,15}" placeholder="Solo números"
                    required />
            </label>
            <label for="email">Email
                <input type="email" id="email" name="email" required />
            </label>
            <button type="submit">Ir a pagar</button>
        </form>
    </div>
</main>