.footer {
    justify-content:center;
}

.social-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 35px;
}

.social-icons .nav-item {
    margin-right: 15px;
}

.contacto {
    margin: 0px;
    padding: 20px;
    color: white;
    text-align: start;
}

.copyright {
    color: white;
    margin: 30px;
}


@media (max-width: 768px) {
    .container-fluid {
        flex-direction: column;
        align-items: center;
    }

    .social-icons {
        padding: 15px;
    }

    .social-icons i {
        font-size: 2rem;
    }

    .img-logo {
        display: none;
    }

    .contacto {
        padding: 15px;
        text-align: start;
    }

    .contact-item {
        margin: 10px 0;
    }

    .copyright {
        font-size: 14px;
        margin: 20px;
        text-align: center;
    }
}