.img-fluid {
    max-width: 100%;
    height: auto;
}

.contenido_letra {
    margin: 15px;
    padding: 7px;
    border: 3px solid #ffffff;
    display: inline-block;
    text-align: center;
    max-width: 90%;
}

.letra1 {
    font-family: "Playwrite DK Loopet", cursive;
    /* font-optical-sizing: auto;    */
    font-size: 1.5rem;
    color: white;
    font-weight: normal;
    font-style: normal;
}

.t_historia1, .t_historia2 {
    margin-top: 50px;
    font-size: 2.5rem;
    color: white;
    text-align: center;
}

.p_historia1, .p_historia2 {
    font-size: 1.5rem;
    color: white;
    text-align: justify;
    padding: 50px;
}

.container-fluid img {
    width: 100%;
    height: auto;
}

@media (max-width: 768px) {
    .col-6, .col-4 {
        width: 95%;
        margin: 10px;
    }

    .contenido_letra {
        max-width: 95%;
        margin: 10px;
    }

    .letra1 {
        font-size: 1.2rem;
    }

    .t_historia1, .t_historia2 {
        font-size: 2rem;
        text-align: center;
    }

    .p_historia1, .p_historia2 {
        font-size: 1.2rem;
        padding: 20px;
        text-align: justify;
    }

    .imagen {
        display: none;
    }

    .row.no-gutters {
        display: flex;
        flex-direction: column;
    }
}