<body class="container">
    <div class="row">
        <div class="col-6 letra">SECCIÓN MARINA</div>
        <div class="col-6 letra">SECCIÓN CRIOLLO</div>
    </div>
    <div class="menu">
        <div class="row">
            <!-- Primera Linea -->
            <div class="col-3">
                <img src="/carta/img1.jpg" alt="img1" class="img">
            </div>
            <div class="col-3">
                <p>Pescado de tollo bebe crudo marinado en jugo de limón o lima, acompañado de cebolla roja, ají, y
                    cilantro.</p>
                <p>S/ 35.00</p>
                <br><br>
            </div>
            <div class="col-3">
                <img src="/carta/img2.jpg" alt="img2" class="img">
            </div>
            <div class="col-3">
                <p>Tradicional arroz verde condimentado en espinaca y culantro, acompañado de arroz y su deliciosa presa
                    de
                    pato.</p>
                <p>S/ 40.00</p>
            </div>
        </div>
        <!-- Segunda Linea -->
        <div class="row">
            <div class="col-3">
                <img src="/carta/img3.jpg" alt="img3" class="img">
            </div>
            <div class="col-3">
                <p>PEste plato es una fritura picante de pescado o marisco, o ambos a la vez, que se acompaña con yucas
                    también fritas o sancochadas y salsa criolla.</p>
                <p>S/ 45.00</p>
            </div>
            <div class="col-3">
                <img src="/carta/img4.jpg" alt="img4" class="img">
            </div>
            <div class="col-3">
                <p>Cabrito de leche macerado en chicha de jora y guisado con culantro, ají amarillo y zapallo loche. Se
                    sirve acompañado de yucas cocidas, salsa criolla, arroz blanco y frejoles./p>
                <p>S/ 40.00</p>
            </div>
        </div>
        <!-- Tercera Linea -->
        <div class="row">
            <div class="col-3">
                <img src="/carta/img5.jpg" alt="img5" class="img">
            </div>
            <div class="col-3">
                <p>Se trata de una deliciosa preparación que combina el sabor y la textura del arroz con una variedad de
                    mariscos y pescados frescos, lo que resulta en un plato explosivo de sabores y aromas.</p>
                <p>S/ 40.00</p>
            </div>
            <div class="col-3">
                <img src="/carta/img6.jpg" alt="img6" class="img">
            </div>
            <div class="col-3">
                <p>Plato tradicional peruano que consiste en tiras de lomo de res salteadas con cebolla, tomate y otros
                    ingredientes, generalmente acompañado de arroz y papas fritas.</p>
                <p>S/ 35.00</p>
            </div>
        </div>
        <!-- Cuarta Linea -->
        <div class="row">
            <div class="col-3">
                <img src="/carta/img7.jpg" alt="img7" class="img">
            </div>
            <div class="col-3">
                <p>Delicioso pescado frito previamente marinado en harina y especias acompañado de arroz blanco y yuka
                    frita o camote sancochado.</p>
                <p>S/ 35.00</p>
            </div>
            <div class="col-3">
                <img src="/carta/img8.jpg" alt="img8" class="img">
            </div>
            <div class="col-3">
                <p>Cuy (cobayo o curí) frito en abundante aceite hasta lograr una textura crujiente. Se sirve entero y
                    se acompaña comúnmente con papas doradas, maíz, y salsas picantes, como la crema de huacatay.</p>
                <p>S/ 40.00</p>
            </div>
        </div>
    </div>

</body>